@media (max-width: 992px) {

    .informations {
        padding: 0 20px;
    }

    .cards,
    .cards:nth-child(even) {
        flex-direction: column;
        align-items: center;
    }

    .cards-text {
        text-align: center;
    }

    .cards-text h3 {
        margin: 30px 0;
    }

    .cards-img img {
        width: 400px;
        margin-top: 40px;
    }

    .cards {
        opacity: 100%;
    }
}

@media (max-width: 768px) {

    .informations {
        width: 100%;
        margin: 0;
    }

    .cards .cards-text {
        width: 80%;
        margin: 0 10px;
    }

    .cards {
        margin-top: 10px;
    }

    .cards .cards-img img {
        width: 90%;
    }

}

@media (max-width: 576px) {

    @media (min-width: 1200px) {
        .container {
            max-width: 1170px;
        }

    }
}

@media screen and (max-width: 1100px) {

    #sobre .larguraMaxContainer #sobreFoto {
        display: none;
    }
}


#sobre .larguraMaxContainer #sobreTexto {
    width: 50%;
}

@media screen and (max-width: 1100px) {

    #sobre .larguraMaxContainer #sobreTexto {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0px;
    }
}

@media screen and (max-width: 1024px) {
    #sobre .larguraMaxContainer {
        padding: 50px 20px;
    }
}